/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  background: #E5E6E6;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.no-margin{
  margin:0;
}
.text-left{
  text-align: left;
}
.list-item > span.title,
.list-item > span.value{
  display: block;
  color: #bdbdbd;
  padding: 0 10px;
}
.list-item > span.title{
  color: #000;
  font-size: 16px;
}
.list-item > span.value{
  border-bottom: 1px solid #dbdbdb;
  font-size: 19px;
  margin-bottom: 5px;
}
.card > .card-header{
  padding: 5px 10px;
  border-bottom:1px solid #dbdbdb;
}
.owl-nav .owl-next,
.owl-nav .owl-prev{
  font-weight: bold;
  background: #80cbc4;
  color: #fff;
  display: inline;
  padding: 5px 10px;
  margin: 0 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.owl-nav .owl-next:hover,
.owl-nav .owl-next:active,
.owl-nav .owl-next:visited,
.owl-nav .owl-next:focus,
.owl-nav .owl-prev:hover,
.owl-nav .owl-prev:active,
.owl-nav .owl-prev:visited,
.owl-nav .owl-prev:focus{
  -webkit-transition: background 1s;
     -moz-transition: background 1s;
      -ms-transition: background 1s;
       -o-transition: background 1s;
          transition: background 1s;
      background: #26a69a;
}
.owl-stage-outer .card{
  margin: 10px;
}
.blog .col+.col{
  -webkit-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
}
.list-item .badge{
  margin-top: 3px;
}